.menu{position: fixed;top: 0;left: 0;width: 8%;height: 100%;background-color: #051623;}/*菜单样式*/
.mlogo{width: 35px;height: 30px;background: url(../img/menu.png) no-repeat;background-size: 100%;margin: 10px auto;}
.mnav{position: absolute;top: 60px;overflow: hidden;display: none;}
.mlist{float: left;width: 100%;height:30px;line-height: 30px;font-size: 12px;text-align: center;}
.mlist a{font-size: 12px;}
.mzixun{position: absolute;top:60px;left:50%;margin-left:-36px;width: 65px;height:72px;background: url(../img/zixun.png) no-repeat;}
/*页面序号*/
.hindex{position: fixed;top: 200px;right: 20px;z-index: 101;text-align: center;}
.hnindex{position: relative;width: 20px;height: 20px;background-color:#ccc;border-radius: 100%;line-height: 20px;margin-top: 10px;cursor: pointer;}
.hnindex:hover{color: red;}
.hnindexsel{background-color: orange;}
.miaoshu{position: absolute;content: attr(data-text);display: inline-block;top: 0px;right: 0px;width: 0px;height: 20px;line-height: 20px;background: rgba(255,255,255,0.5);border-radius: 20px;z-index: -1;padding-right: 20px;display: none;overflow: hidden;color: currentColor;cursor: pointer;}
/*主题内容*/
.con{position: absolute;left:8%;width: 92%;height: 100%;overflow: hidden;}
.header{position: fixed;bottom: 0;left: 8%;width: 92%;height: 67px;overflow: hidden;background: rgba(0,0,0,0.5);z-index: 100;}
.hl{float: left;}
.logo{float: left;width: 102px;height: 67px;background: url(../img/logo.png) no-repeat;}
.time{position: relative;float: left;height: 67px;line-height: 67px;padding:0 10px;color: #fff;font-size: 14px;}
.time:after{position: absolute;content: "";top: 16px;right:-50px;width: 30px;height: 35px;background: url(../img/jishiben.png) no-repeat;}
.hnav{float: right;position: relative;}
.hnavbg{position: absolute;content: "";top:0;left:0;width: 150px;height: 67px;background:#000;opacity:0.5;z-index: -1;}
.hlist{float: left;width: 150px;height: 67px;background: rgba(255,255,255,0.1);text-align: center;margin-right: 2px;}
.hlist a{line-height: 67px;}

.page{position: relative;width: 100%;height: 100%;overflow: hidden;text-align: center;display: none;}
.page1{background: url(../img/bg1.jpg) center center  no-repeat;background-size: cover;display: block;padding-top: 0px;}
.deng{position: absolute;top:10%;left:50%;width: 307px;height: 450px;margin-left: -150px;}
.p1text{height: 60px;line-height:60px;font-size:20px;text-align: center;color: #fff;background-color: rgba(0,0,0,0.8);}
.p1t2{position: absolute;top: 450px;left: 0;right: 0; color: #fff;font-size: 30px;}
.p1t3{position: absolute;top: 500px;left: 0;right: 0; color: #fff;font-size: 40px;}

.page2{background-color: #fff;}
.pitem1{position: relative;display: inline-block;margin-top: 20px;}
.pitem1text{display: inline-block;font-size: 12px; color: currentColor;width: 100px;line-height: 0px;}
.pitem1text:first-letter{font-size: 78px;color: currentColor;line-height: 78px;margin: 0 11px;}
.rt,.lb{position: absolute;display: inline-block;width: 20px;height: 1px;background-color:currentColor;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);display: none;}
.rt{top: 0px;right: -10px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);}
.lb{bottom: -10px;left: -20px;transform:rotate(135deg);-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-o-transform:rotate(135deg);}
.pitem2{margin-top: 30px;font-size: 20px;color: currentColor;display: none;}
.pitem3{font-size: 12px;color: currentColor;line-height: 50px;width: 600px;overflow: hidden;opacity: 0;}
.pitem4{display: inline-block;width: 154px;height: 45px; color: #fff;background-color: #e94b59;font-size: 20px;margin-top: 10px;}
.p2item5{margin-top: 30px;}

.page3{background-color: #cb1e2f;color: #fff;}
.p3item5{position: relative;margin-top: 50px;display: inline-block;}
.p3tab{position: absolute;display: none;}
.p3tab1{top: -30px;left: 280px;}
.p3tab2{top: 0px;left: -50px;}
.p3tab3{top: 120px;left: -70px;}

.page4{background-color: #fff;color: #000;}
.p4item5{position: relative;margin-top: 50px;display: inline-block;}
.p4list{float: left;position: relative;background: url(../img/p4bg1.png) top center no-repeat;line-height: 500px;width: 200px;margin-right: 20px;display: none;}
.add1{position: absolute;display: inline-block;font-size: 30px;top: 100px;left: 200px;}
.add2{position: absolute;display: inline-block;font-size: 30px;top: 100px;left: 420px;}
.p4tab{position: absolute;z-index: 2;display: none;}
.p4tab1{top: 40px;left: 10px;}
.p4tab2{top: 40px;left: 65px;}
.p4tab3{top: 60px;left: 35px;}

.page5{background-color: #cb1e2f;color: #fff;}
.p5item5{position: relative;margin-top: 50px;}
.p5bg{position: relative; top:0px;left:-200px;display: inline-block;width: 299px;height: 330px;}
.p5img2{position: absolute;display: inline-block;top: -20px;left: 370px;width: 0px;height: 125px;background: url(../img/p5img2.png);font-size: 30px;padding-top: 50px;text-indent: 70px;}
.p5img2 p{line-height: 40px;}
.p5img3,.p5img4{position: absolute;left:620px;font-size: 20px;padding-left: 40px;background: url(../img/p5img4.png) no-repeat;height: 32px;line-height: 40px;}
.p5img3{top: 200px;}
.p5img4{top: 250px;}

.page6{background-color: #fff;color: #000;}
.p6item5{position: relative;margin-top: 50px;}
.p6img1{position: relative;display: none;}
.p6img2{position: absolute;top: 170px;left: 100px;width: 780px;height: 175px;display: none;}
.p6img2mask{position: absolute;display: inline-block;top: 190px;left: 140px;width: 700px;height: 175px;;z-index: 20;opacity: 1;background:url(../img/coffe.png) -20px -277px no-repeat;display: none;}

.page7{background-color: #cb1e2f;color: #fff;}
.p7item5{position: relative;margin-top: 0px;}
.p7img1{position: relative; top:100px;left: -200px;}
.p7img2{position: absolute;top: 0px;left: 650px;}
.footer{position: absolute;bottom: 0px;left:0px;width: 100%;height:70px;text-align: center;background-color: rgba(0,0,0,0.8);}
.fttext{font-size: 12px;line-height: 30px;}
.p7lr{
	animation:mymove 3s infinite;
	-webkit-animation:mymove 3s infinite; /* Safari 和 Chrome */
}
@keyframes mymove{
	0%{transform: rotateY(30deg);transform-style: preserve-3d;}
	50%{transform: rotateY(0deg);transform-style: preserve-3d;}
	100%{transform: rotateY(-30deg);transform-style: preserve-3d;}
}

-webkit-@keyframes mymove{
	0%{-webkit-transform: rotateY(30deg); /* Safari and Chrome */-webkit-transform-style: preserve-3d; /* Safari and Chrome */}
	50%{-webkit-transform: rotateY(0deg); /* Safari and Chrome */-webkit-transform-style: preserve-3d; /* Safari and Chrome */}
	100%{-webkit-transform: rotateY(-30deg); /* Safari and Chrome */-webkit-transform-style: preserve-3d; /* Safari and Chrome */}
}

.w1024{width: 1024px;margin: 0 auto;margin-top: 67px;position: relative;left: 50%;margin-left: -512px;}

.jspage2{position: relative; background-color: #fff;}
.jsp2title{color: #000;font-size: 25px}
.jsimg1{position: absolute;top: 130px;left: 343px;width: 307px;height: 355px;z-index: 20;}
.jsimg2{position: absolute;top: 170px;left: 343px;}
.jsimg3{position: absolute;top: 170px;left: 343px;}
.jsimg4{position: absolute;top: 170px;left: 343px;}
.jsimg5{position: absolute;top: 170px;left: 343px;}
.jsimg6{position: absolute;top: 170px;left: 343px;}
.jsimg7{position: absolute;top: 170px;left: 343px;}

.jspage3{background-color: #fff;}
.jsp3ms{background-color: #f2f0f0;text-align: left;padding: 25px 0;}
.jsp3ms span{display: inline-block;background-color: #c42101;line-height: 20px;color: #fff;}
.jsp3title{font-size: 30px;color: #f36;font-weight: bold;}
.jsp3_1{position: absolute;top: 240px;left: 50%;width: 133px;height: 259px;margin-left: -66px;}
.jsp3_2{position: absolute;top: 41px;left: 50%;width: 115px;height: 115px;margin-left: -56px;}
.jsp3_9{position: absolute;top: 166px;left: 50%;width: 14px;height: 64px;margin-left: -7px;}
.jsp3_3{position: absolute;top: 111px;left: 755px;}
.jsp3_10{position: absolute;top: 186px;left: 580px;}
.jsp3_4{position: absolute;top: 255px;left: 865px;}
.jsp3_11{position: absolute;top: 300px;left: 590px;}
.jsp3_5{position: absolute;top: 345px;left: 765px;}
.jsp3_12{position: absolute;top: 360px;left: 575px;}
.jsp3_6{position: absolute;top: 100px;left: 160px;}
.jsp3_13{position: absolute;top: 186px;left: 280px;}
.jsp3_7{position: absolute;top: 240px;left: 50px;}
.jsp3_14{position: absolute;top: 296px;left: 180px;}
.jsp3_8{position: absolute;top: 355px;left: 150px;}
.jsp3_15{position: absolute;top: 346px;left: 270px;}


.jspage4{background-color: #f2f0f0;}

.jspage5{background-color: #fff;}
.jsp5title{font: bold 20px/30px "微软雅黑";}
.jsp5miaoshu{font: normal 16px/20px "微软雅黑";}

.jsp5jt{width: 0px;height: 216px;background: url(../img/js24.png) left top no-repeat;position:absolute;top: 150px;left: 50%;margin-left: -344px;}
.jsp5_1{position: absolute;display:none;top: 30px;left: 156px;}
.jsp5_2{position: absolute;display:none;top: 0px;left: 170px;}
.jsp5_3{position: absolute;display:none;top: 0px;left: 516px;}
.jsp5_4{position: absolute;display:none;top: 88px;left: 700px;}

.jspage6{background-color: #f2f0f0;}

.jspage7{background-color: #fff;}

.jspage8{background-color: #f2f0f0;}
.jsp8title{font: bold 30px/40px "微软雅黑";color: #f36;}
.jsp8miaoshu1{font: bold 25px/30px "微软雅黑"; color: #000;}
.jsp8miaoshu2{font: normal 20px/30px "微软雅黑";color: #666;}
.btout{position: absolute;top: 120px;left: 260px;width: 420px;height: 420px;clip: rect(0px,420px,420px,210px);
overflow: hidden;border-radius: 210px;
}
.btint{position: absolute;width: 420px;height: 420px;border-radius: 100%;clip: rect(0px,210px,420px,0px);overflow: hidden;}
.bt1{
	-moz-transform:rotate(64.8deg);
	-webkit-transform:rotate(64.8deg);
	-o-transform:rotate(64.8deg);
	transform:rotate(64.8deg);
	background: #6b439c;
}
.btout2{
	-moz-transform:rotate(64.8deg);
	-webkit-transform:rotate(64.8deg);
	-o-transform:rotate(64.8deg);
	transform:rotate(64.8deg);
}
.bt2{
	-moz-transform:rotate(28.8deg);
	-webkit-transform:rotate(28.8deg);
	-o-transform:rotate(28.8deg);
	transform:rotate(28.8deg);
	background: #ae4097;
}
.btout3{
	-moz-transform:rotate(93.6deg);
	-webkit-transform:rotate(93.6deg);
	-o-transform:rotate(93.6deg);
	transform:rotate(93.6deg);
}
.bt3{
	-moz-transform:rotate(28.8deg);
	-webkit-transform:rotate(28.8deg);
	-o-transform:rotate(28.8deg);
	transform:rotate(28.8deg);
	background: #e44298;
}
.btout4{
	-moz-transform:rotate(122.4deg);
	-webkit-transform:rotate(122.4deg);
	-o-transform:rotate(122.4deg);
	transform:rotate(122.4deg);
}
.bt4{
	-moz-transform:rotate(25.2deg);
	-webkit-transform:rotate(25.2deg);
	-o-transform:rotate(25.2deg);
	transform:rotate(25.2deg);
	background: #ee1b24;
}
.btout5{
	-moz-transform:rotate(147.6deg);
	-webkit-transform:rotate(147.6deg);
	-o-transform:rotate(147.6deg);
	transform:rotate(147.6deg);
}
.bt5{
	-moz-transform:rotate(21.6deg);
	-webkit-transform:rotate(21.6deg);
	-o-transform:rotate(21.6deg);
	transform:rotate(21.6deg);
	background: #f57025;
}
.btout6{
	-moz-transform:rotate(169.2deg);
	-webkit-transform:rotate(169.2deg);
	-o-transform:rotate(169.2deg);
	transform:rotate(169.2deg);
}
.bt6{
	-moz-transform:rotate(10.8deg);
	-webkit-transform:rotate(10.8deg);
	-o-transform:rotate(10.8deg);
	transform:rotate(10.8deg);
	background: #ffc010;
}
.btout7{
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.bt7{
	-moz-transform:rotate(36deg);
	-webkit-transform:rotate(36deg);
	-o-transform:rotate(36deg);
	transform:rotate(36deg);
	background: #6bc100;
}
.btout8{
	-moz-transform:rotate(216deg);
	-webkit-transform:rotate(216deg);
	-o-transform:rotate(216deg);
	transform:rotate(216deg);
}
.bt8{
	-moz-transform:rotate(48deg);
	-webkit-transform:rotate(48deg);
	-o-transform:rotate(48deg);
	transform:rotate(48deg);
	background: #008ecc;
}
.btout9{
	-moz-transform:rotate(264deg);
	-webkit-transform:rotate(264deg);
	-o-transform:rotate(264deg);
	transform:rotate(264deg);
}
.bt9{
	-moz-transform:rotate(72deg);
	-webkit-transform:rotate(72deg);
	-o-transform:rotate(72deg);
	transform:rotate(72deg);
	background: #81511c;
}
.btout10{
	-moz-transform:rotate(-24deg);
	-webkit-transform:rotate(-24deg);
	-o-transform:rotate(-24deg);
	transform:rotate(-24deg);
}
.bt10{
	-moz-transform:rotate(24deg);
	-webkit-transform:rotate(24deg);
	-o-transform:rotate(24deg);
	transform:rotate(24deg);
	background: #a40035;
}

.jspage9{background-color: #fff;}

.jspage10{background-color: #f2f0f0;}
.jspage10 img{margin-top: 80px;}
.jspage10 .footer{background:#ba0013;color: #fff;}

/*留言*/
.form1{text-align: left;width: 600px;margin: 0 auto;font-size: 20px;}
.cttext1{font-size: 30px;color: #f36;font-weight: bold;}
.cttext2{font-size: 16px;color: #000;}
.ctipt{position: relative;overflow: hidden;margin: 0 auto;line-height: 30px;width: 600px;margin-top: 10px;}
.ctipt span,.ctipt1 span{color: #000;display: inline-block;width: 120px;}
.ctipt input{border: 1px solid #ccc; border-top: none;width: 478px;height: 30px;text-indent: 1rem;}
.ctipt:before{position: absolute;content: "";top: 0px;left: 118px;display: inline-block;width: 5px;height: 20px;background: #fff;}
.ctipt:after{position: absolute;content: "";top: 0px;right: -2px;display: inline-block;width: 5px;height: 20px;background: #fff;}
.nameipt:first-letter{display: inline-block;margin-right: 40px;}
.ctipt1{margin-top: 10px;overflow: hidden;}
.ctipt1 span{float: left;}
.ctright{float: left;width: 480px;}
.ctright label{display: inline-block;margin-right: 10px;margin-bottom: 10px;}
.othertype{border:1px solid #ccc;margin-left: 20px;text-indent: 1rem;font-size: 16px;line-height: 30px;}
#leavemessage{display: inline-block;width: 478px;height: 100px;border:1px solid #ccc;resize:none;}
.submitbtn{background: #ff6b69;width: 150px;height: 50px;float: right;margin-right: 10px;border-radius: 10px;color: #fff;}
.ctp1 .footer{background: #ba0013;color: #fff;}
/*视频广告*/
.sp2{background: #fff;}
.sp2con{position: relative;margin-top: 40px;}
.sp2_1{position: absolute;top: 0px;left: 50%;margin-left: -378px;width: 757px;height: 86px;background: url(../img/sp2.png);display: none;}
.sp2_m{position: absolute;top: 20px;left: 50%;margin-left: -279px;width: 558px;height: 376px;background: url(../img/sp1.png);display: none;}
.sp2_l{position: absolute;top: 80px;left: 0px;overflow: hidden;}
.sp2_r{position: absolute;top: 80px;right: 0px;overflow: hidden;}
.sp2list{float: left;width: 138px;margin-right: 10px;}
.sp2list li{
	transform-style:preserve-3d;
	transform: rotateY(-90deg);
	transform-origin:bottom left;
	transition: transform .5s;
}

.sp3{background-color: #f2f0f0;}
.sp3list{margin: 100px auto;overflow: hidden;}
.sp3list li{float: left;width: 211px;margin-left: 100px;
	transform-origin:center center;
	transition: transform .5s;}
.sp3 .footer{background: #ba0013;color: #fff;}

/*外包*/
.wb2{background-color: #fff;}
.wb3{background-color: #f2f0f0;}
.wb3jt{position: absolute;top: 40px;left: 50%;margin-left: -6px;width: 3px;height: 0px;z-index: 20;background: #0180c7;}
.wb3jt:after{position: absolute;bottom: -8px;left: -4px;width:0px;content: "";border-top: 10px solid #0180c7;border-left: 5px solid transparent;border-right: 5px solid transparent;}
.wb3l1{display: none;position: absolute;top: 50px;left: 80px;background: url(../img/wb2.png);width: 415px;height: 154px;}
.wb3l2{display: none;position: absolute;top: 380px;left: 80px;background: url(../img/wb2.png);width: 415px;height: 154px;}
.wb3r1{display: none;position: absolute;top: 120px;left: 530px;background: url(../img/wb4.png);width: 407px;height: 119px;}
.wb3r2{display: none;position: absolute;top: 260px;left: 530px;background: url(../img/wb4.png);width: 407px;height: 119px;}
.wb4{background: #f2f0f0;}
.wb4con{overflow: hidden;margin-top: 50px;}
.wb4list{float: left;position: relative;width: 150px;height: 60px;overflow: hidden;margin-right: 20px;margin-top: 50px;}
.we4img1,.we4img2{float: left;width: 150px;height: 60px;}
/*移动端广告*/
.madpage2{background: url(../img/mad1bg.png) center bottom no-repeat;}
.madimg1{position: absolute;width: 620px;height: 99px;top: 80px;left: 50%;margin-left: -310px;}
.madimg2{position: absolute;bottom: 0;left: 450px;z-index: 20;}
.madimg3{position: absolute;top: 100px;left: 470px;z-index: 10;}
.madimg4{position: absolute;top: 100px;left: 450px;z-index: 9;}
.madimg5{position: absolute;top: 100px;left: 410px;z-index: 8;}
.madimg6{position: absolute;top: 100px;left: 560px;z-index: 10;}
.madimg7{position: absolute;top: 100px;left: 610px;z-index: 9;}
.madimg8{position: absolute;top: 100px;left: 710px;z-index: 10;}
.madimg9{position: absolute;top: 100px;left: 760px;z-index: 9;}
.madimg10{position: absolute;top: 100px;left: 740px;z-index: 8;}

.madpage3{background: #f2f0f0;}
.mad3{overflow: hidden;margin-top: 100px;}
.mad3list{float: left;margin: 10px;transform-origin:center center;transition: transform .5s;}

.mad4{overflow: hidden;margin-top: 50px;}
.mad4list{float: left;margin: 20px;background: #f2f0f0;width: 120px;height: 140px;overflow: hidden;}
.mad4show{display: inline-block;overflow: hidden;}
.mad4show img{float: left;margin: 10px 20px;}
.mad4show p{clear: both;height: 40px;line-height: 40px;background: #5ebff6;color: #fff;}
.mad4hide{display: none;overflow: hidden;}
.mad4hide p{margin: 20px;margin: 30px 20px;color:#f00;}
.mad4hide button{height: 30px;background: #5ebff6;color: #fff;padding: 0px 20px;}

.madpage5{background: #f2f0f0;}
.mad5{overflow: hidden;}
.mad5list{position: relative;float: left;width: 280px;height: 280px;border-radius: 100%;background: url(../img/mad2bg.jpg) center center no-repeat;background-size: 100%;margin: 30px;overflow: hidden;}
.mad5list p{position: absolute;left: 0;bottom:-50px;height: 50px;line-height: 50px;background: rgba(0,0,0,0.5);width: 100%;color: #fff;}

.madpage7 .footer{background: #ba0013;color: #fff;}